<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <bean id="testBean"-->
    <!--          class="alieshev.spring.TestBean">-->
    <!--        <constructor-arg value="Sergey"/>-->
    <!--    </bean>-->

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean1" class="alieshev.spring.course.ClassicalMusic"/>
    <bean id="musicBean2" class="alieshev.spring.course.RockMusic"/>
    <bean id="musicBean3" class="alieshev.spring.course.JazzMusic"/>


    <bean id="musicBeans"
          class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
            </list>
        </constructor-arg>
        <!--        <constructor-arg value="Sergey"/>-->
    </bean>


    <bean id="musicPlayer"
          class="alieshev.spring.course.MusicPlayer">
        <property name="music" ref="musicBeans"/>
        <!--        <property name="name" value="Some music"/>-->
        <!--        <property name="volume" value="50"/>-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>